<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="CompanyCSS.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="CompanyJS.js"></script>
    </head>

    <body>
        <!-- Header Section -->
        <div>
            <!-- mostly contains sign in button -->
        </div>
        <!-- End of Header Section -->
        <!-- Body Section -->
        <div id="Directory" ng-app="DirectoryMain" ng-controller="CompanyController">
            <!-- contains everything else -->
            <div id="CompanyDetails" ng-click="ev = $event">
                <h1 id="CompanyName">{{ company.name }}</h1>
                <h3 id="CompanySlogan">{{ company.slogan }}</h3>
                <br>
                <br>
                <div id="TowerName">{{ company.tower }}</div><br>
                <div id="TowerAddress">{{ company.address }}</div><br>
                <div id="CompanySuite">Suite: {{ suiteString }}</div><br>
                <div id="ReceptionArea">Reception Desk: {{ company.reception }}</div><br>
                <div id="CompanyPhone">Contact Number: {{ company.phone }}</div><br>
                <div id="ContactEmail">Email: {{ company.email }}</div>
            </div>
            <div id="EmployeeListing">
                <h2>Employee Listing:</h2>
                <div id="EmployeeDisplay">
                    <!-- Selected employee's information is displayed here -->
                    <div id="EmployeeContainer">
                        <div class="employeeInfo"> {{ selectedEmployee.name }} </div>
                        <div class="employeeInfo">{{ selectedEmployee.title }}</div>
                        <div class="employeeInfo">{{ selectedEmployee.company }}</div>
                    </div>
                </div>
                <br>
                <div class="tileSection">
                    <div ng-repeat="item in employees" ng-click="employeeDisplayButton(item)" class="employeeDisplayTile">
                        <span>{{ item.name }}</span>
                        <br>
                        <span>{{ item.title }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Body Section -->
        <!-- Footer Section -->
        <div>
            <!-- Currently unused -->
        </div>
        <!-- End of Footer Section -->
    </body>

</html>