
@keyframes shine { 
    0% { transform:translateX(-100%) translateY(-100%) rotate(-30deg); }
    60% { transform:translateX(-100%) translateY(-100%) rotate(-30deg); }
    100% { transform:translateX(100%) translateY(100%) rotate(-30deg); }
}

:root {
    --tileHue: 200;
    --tileSaturation: 14%;
    --tileLuminosity: 75%;
    --textbackground: hsla(100, 80%, 60%, .6);
    --sidebarSize: 15%;
}

#Headerbar {
    width: 100%;
    height: 50px;
    background: orange;
    position: relative;
}

.content {
    width: calc(100% - var(--sidebarSize));
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
}

#Sidebar {
    width: var(--sidebarSize);
    height: 150px;
    background: yellow;
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
}





.splash {
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
}

.splash img {
    width: 100%;
    min-height: 200px;
    display: none;
}

.splash .text {
    position: absolute;
    top: 3em;
    left: 50%;
    padding: 1em 3em;
    color: aliceblue;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: 14px;
    text-shadow: 1px 2px black;
    background: var(--textbackground);
    border-radius: 6px;
}

.splash .title {
    text-align: center;
    font-size: 24px;
}

.sectionContainer {
    background: blue;
    padding: 0;
    border-radius: 10px;
    color: darkorange;
    text-shadow: 1px 2px black;
}

.sectionContainer .title {
    margin: 0;
    padding-left: 5%;
}

.tileGroup {
    padding: 0 1em 1.5em 1em;
    background: lightyellow;
    border-radius: 10px;
}

.tileContainer {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.displayTile {
    transition: all linear .1s;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 0;
    overflow: hidden;
    
    --tileColor: hsl(var(--tileHue), var(--tileSaturation), var(--tileLuminosity));
    --tileShine: hsl(var(--tileHue), var(--tileSaturation), calc(var(--tileLuminosity) + 15%));
    --tileShadow: hsl(var(--tileHue), calc(var(--tileSaturation) * 0.7), calc(var(--tileLuminosity) * 0.6));

    background: linear-gradient(to bottom, var(--tileColor), var(--tileShine), var(--tileColor));
    box-shadow: 0 5px 0 0 var(--tileShadow);
    border: 1px solid var(--tileShadow);
    border-radius : 12px;
    cursor: pointer;
}

.displayTile:hover:after {
        content:'';
        top:0;
        transform:translateX(100%) rotate(180deg);
        width:300%;
        height:300%;
        position: absolute;
        z-index:1;
        animation: shine 1.5s infinite ease-in;
        background:
            linear-gradient( to right, 
            hsla(255,0%,100%,0) 0%,
            hsla(255,0%,100%,0.8) 50%,
            rgba(128,186,232,0) 99%,
            rgba(128,186,232,0) 100%);
}

.displayTile:active {
    top: 3px;
    box-shadow: 0 2px 0 0 var(--tileShadow);
}

[selected] {
    --selectedTileColor: hsl(41, 55%, 49%);
    --selectedTileShine: hsl(41, 65%, 63%);
    --selectedTileShadow: hsl(41, calc(55% * 0.9), calc(49% * 0.77));
    font-size: 20px;
}

[selected].displayTile {
    background: linear-gradient(to bottom, var(--selectedTileColor), var(--selectedTileShine), var(--selectedTileColor));
    color: white;
    text-shadow: 1px 2px 0 black;
    box-shadow: 0 5px 0 0 var(--selectedTileShadow);
    border: 1px solid var(--selectedTileShadow);
}

[selected].displayTile:active {
    top: 3px;
    box-shadow: 0 2px 0 0 var(--selectedTileShadow);
}

.slideEdit {
    
}

.bubble {
    padding-top: 0.01em;
    text-align: center;
    background: var(--textbackground);
    border-radius: 10px;
    color: black;
    text-shadow: none;
}

.bubble h1 {
    
}

.bubble h2 {
    
}

.bubble h3 {
    
}