
@keyframes shine { 
    0% { transform:translateX(-100%) translateY(-100%) rotate(-30deg); }
    60% { transform:translateX(-100%) translateY(-100%) rotate(-30deg); }
    100% { transform:translateX(100%) translateY(100%) rotate(-30deg); }
}

:root {
    --tileHue: 200;
    --tileSaturation: 14%;
    --tileLuminosity: 75%;
    --textbackground: hsla(100, 80%, 60%, .6);
    --sidebarSize: 15%;
}

#frame {
    margin: 0;
    /*position: relative;*/
}

#header {
    width: 100%;
    max-height: 50px;
    height: 50px;
    background: navy;
    position: relative;
    z-index: 3;
}

#header * {
    max-height: inherit;
    height: inherit;
    display: inline-block;
}

#login {
    float: right;
    height: 60%;
    margin: 10px;
    width: 40%;
}

#header>div {
    width: 33%;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    width: calc(100% - var(--sidebarSize));
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    bottom: 0;
}

#sidebar {
    width: var(--sidebarSize);
    height: 100%;
    background: yellow;
    z-index: 2;
    position: fixed;
    right: 0;
}

#footer {
    width: calc(100% - 2em);
    position: absolute;
    bottom: 0;
    background: transparent;
}





.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: hsla(100, 50%, 10%, .5);
}

.modal .cont {
    position: relative;
    background-color: white;
    max-width: fit-content;
    padding: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 2em;
}

.modal .head {
    position: relative;
    background-color: blanchedalmond;
    text-align: center;
    font-size: x-large;
}

.splash {
    position: absolute;
    top: 3em;
    left: 50%;
    color: aliceblue;
    text-align: center;
    padding: 1em 3em;
    transform: translate(-50%, 0%);
    font-size: 14px;
    text-shadow: 1px 2px black;
    background: var(--textbackground);
    background-repeat: no-repeat;
    border-radius: 6px;
}

.splash .title {
    font-size: 24px;
}

.sectionContainer {
    background: blue;
    padding: 0;
    border-radius: 10px;
    color: darkorange;
    text-shadow: 1px 2px black;
}

.sectionContainer .title {
    margin: 0;
    padding-left: 5%;
}

.tileGroup {
    background: hsla(60, 100%, 94%, .4);
    border-radius: 10px;
}

.tileContainer {
    padding: 0.5em 1em 1.5em 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.displayTile {
    transition: all linear .1s;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 0;
    overflow: hidden;
    
    --tileColor: hsl(var(--tileHue), var(--tileSaturation), var(--tileLuminosity));
    --tileShine: hsl(var(--tileHue), var(--tileSaturation), calc(var(--tileLuminosity) + 15%));
    --tileShadow: hsl(var(--tileHue), calc(var(--tileSaturation) * 0.7), calc(var(--tileLuminosity) * 0.6));

    background: linear-gradient(to bottom, var(--tileColor), var(--tileShine), var(--tileColor));
    box-shadow: 0 5px 0 0 var(--tileShadow);
    border: 1px solid var(--tileShadow);
    border-radius : 12px;
    cursor: pointer;
    min-height: 100px;
}

.displayTile:hover:after {
        content:'';
        top:0;
        transform:translateX(100%) rotate(180deg);
        width:300%;
        height:300%;
        position: absolute;
        z-index:1;
        animation: shine 1.5s infinite ease-in;
        background:
            linear-gradient( to right, 
            hsla(255,0%,100%,0) 0%,
            hsla(255,0%,100%,0.8) 50%,
            rgba(128,186,232,0) 99%,
            rgba(128,186,232,0) 100%);
}

.displayTile:active {
    top: 3px;
    box-shadow: 0 2px 0 0 var(--tileShadow);
}

.displayTile>img {
    max-height: 75%;
    min-height: 75px;
    padding: .8em;
}

[selected] {
    --selectedTileColor: hsl(41, 55%, 49%);
    --selectedTileShine: hsl(41, 65%, 63%);
    --selectedTileShadow: hsl(41, calc(55% * 0.9), calc(49% * 0.77));
    font-size: 20px;
}

[selected].displayTile {
    background: linear-gradient(to bottom, var(--selectedTileColor), var(--selectedTileShine), var(--selectedTileColor));
    color: white;
    text-shadow: 1px 2px 0 black;
    box-shadow: 0 5px 0 0 var(--selectedTileShadow);
    border: 1px solid var(--selectedTileShadow);
}

[selected].displayTile:active {
    top: 3px;
    box-shadow: 0 2px 0 0 var(--selectedTileShadow);
}

.slideEdit {
    
}

.bubble {
    padding-top: 0.01em;
    text-align: center;
    background: var(--textbackground);
    border-radius: 10px;
    color: black;
    text-shadow: none;
}

.bubble .link {
    background-color: hsla(210, 13%, 50%, .8);
    cursor: pointer;
}

.link {
    color: blue;
}