
#Directory {
    width: 95%%;
    margin: auto;
    background-color: azure;
}

#EmployeeDisplay {
    width: 100%;
    margin: auto;
    background-color: antiquewhite;
}

#EmployeeContainer {
    width: 85%;
    margin: auto;
    background-color: darkorange;
}





.employeeInfo {
    margin: auto;
    text-align: center;
}

.tileSection {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.employeeDisplayTile {
    background-color: lightcoral;
    text-align: center;
}