
<div class="modal" ng-controller="FormController">
    <div class="cont">
        <div class="head">
            <img src="Images/FoxFLogo.png" style="max-height: 5em">
            <span class="title">Faux Directory</span>
        </div>
        <div ng-repeat="(x,y) in form.content" ng-switch="x" >
            <label>{{x|capitalize}}:</label>
            <input ng-switch-when="number" type="tel" ng-model="form.content[x]">
            <input ng-switch-when="email" type="email" ng-model="form.content[x]">
            <input ng-switch-when="image" type="image" ng-model="form.content[x]">
            <input ng-switch-when="public" type="checkbox" ng-model="form.content[x]">
            <!-- TODO if tower or company use a select with all options -->
            <input ng-switch-default type="text" ng-model="form.content[x]">
        </div>
        <div><input type="button" value="Submit" ng-click="sendForm()"><input type="button" value="Cancel" ng-click="form.display = false"></div>
    </div>
</div>