
<!--suppress HtmlUnknownAttribute -->
<div id="LandingBody" class="content" style="background-image: url('{{background}}')">
    <div class="splash text" ng-hide="selection.length > 0">
        <div ng-repeat="(type, text) in splash">
            <span ng-hide="edit.target === type" ng-switch="type">
                <span ng-switch-when="message" class="title">{{ text }}</span>
                <span ng-switch-when="name" class="title">{{ text }}</span>
                <span ng-switch-when="admin"></span><!-- Hide admin -->
                <span ng-switch-when="img"></span><!-- Hide img -->
                <span ng-switch-default>{{ text }}</span>
                <span ng-show="splash.admin" ng-click="edit.target = type; edit.value = text">&#9998;</span>
            </span>
            <span ng-hide="edit.target !== type" ng-switch="type">
                <input type="email" name="{{type}}" ng-model="edit.value" ng-switch-when="email">
                <input type="tel" name="{{type}}" ng-model="edit.value" ng-switch-when="phone">
                <input type="text" name="{{type}}" ng-model="edit.value" ng-switch-default>
                <input type="button" name="accept" ng-click="applyEdit(type)" value="Accept">
                <input type="button" name="cancel" ng-click="edit.target = null" value="Cancel">
            </span>
        </div>
    </div>
    <div id="Display" ng-hide="selection.length === 0">
        <div id="Selected" class="tileContainer">
            <div ng-repeat="tile in selection" class="displayTile" ng-selected="currentSection === tile.section" ng-click="selectedClick(tile)">
                <h3>{{tile.section}}</h3>
                <h4 ng-hide="tile.choice === ''">{{tile.choice}}</h4>
            </div>
        </div>
        <div class="tileGroup tileContainer" ng-hide="sDisplay !== 'Tiles'">
            <!-- Figure out how to sort by selected values -->
            <div ng-repeat="tile in tiles" class="displayTile" ng-selected="currentChoice.name === tile.name" ng-click="chooseTile(tile)">
                <h3>{{tile.name}}</h3>
                <h4>{{tile.aux}}</h4>
            </div>
            <div ng-if="admin && currentSection !== 'Tower' && currentSection !== 'Company'" class="displayTile" ng-click="newTile(currentSection)">
                <img src="Images/plus.png" />
            </div>
        </div>
        <div class="bubble" ng-hide="sDisplay !== 'Bubble'">
            <!-- TODO If section = event or employee allow editing. Editing should deploy the create modal filled out -->
            <div ng-repeat="(x,y) in currentChoice" ng-switch="x">
                <span ng-switch-when="id"></span><!-- Hide id -->
                <span ng-switch-default>{{x | capitalize}}: {{y}}</span>
            </div>
            <div><span class="link" ng-click="linkPage(currentSection)">Go To {{currentSection}} Page</span></div>
        </div>

    </div>
    <div id="footer" class="tileContainer">
        <div ng-repeat="section in sections" class="displayTile" ng-hide="currentSection === section" ng-click="footerClick(section)">
            <h2>{{section}}</h2>
        </div>
    </div>
    <!-- TODO Include html for Form Submission modal -->
    <div ng-if="form.display" ng-include src="'form.html'"></div>
</div>