
<div id="TowerBody" class="content" style="background-image: url('{{tower.img}}');">
    <div class="splash text" ng-hide="selection.length > 0">
        <div ng-repeat="(type, text) in splash.text" ng-switch="type">
            <div ng-switch-when="name" class="title">{{ text }}</div>
            <div ng-switch-default>{{ text }}</div>
        </div>
    </div>
    <div id="Display" ng-hide="selection.length === 0">
        <div id="Selected" class="tileContainer">
            <div ng-repeat="tile in selection" class="displayTile" ng-selected="currentSection === tile.section" ng-click="selectedClick(tile)">
                <h3>{{tile.section}}</h3>
                <h4 ng-hide="tile.choice === ''">{{tile.choice}}</h4>
            </div>
        </div>
        <div class="tileGroup tileContainer" ng-hide="sDisplay !== 'Tiles'">
            <div ng-repeat="tile in tiles" class="displayTile" ng-selected="currentChoice.name === tile.name" ng-click="chooseTile(tile)">
                <h3>{{tile.name}}</h3>
                <h4>{{tile.aux}}</h4>
            </div>
        </div>
        <div class="bubble" ng-hide="sDisplay !== 'Bubble'">
            <div ng-repeat="(x,y) in currentChoice">{{x}}: {{y}}</div>
            <div><span class="link" ng-click="linkPage(currentSection,currentChoice.name)">Go To {{currentSection}} Page</span></div>
        </div>
    </div>
    <div id="Footer" class="tileContainer">
        <div ng-repeat="section in sections" class="displayTile" ng-hide="currentSection === section" ng-click="footerClick(section)">
            <h2>{{section}}</h2>
        </div>
    </div>
</div>