<script src="TowerJS.js"></script>
        <!-- Directory Controller -->
<div id="TowerBody" ng-controller="TowerController">
    
    <div id="towerSplash w3-container">
        <img ng-src="{{tower.img}}">
        
        <div ng-repeat="(x, y) in tower">
            <div ng-switch="x">
                
                <!-- Contains details about tower -->
                <div ng-switch-when="name" id="towerName">Name: {{ tower.name }} <span ng-hide="token.accountID != tower.accountID" ng-click="editBar(x)">&#9998;</span>
                    <div class="slideEdit" ng-hide="token.accountID != tower.accountID || slideEditBar != '{{ x }}'">
                        <input ng-model="value" type="text"><btn ng-click="tower[x] = value" class="w3-btn">Submit</btn><btn class="w3-btn">Cancel</btn>
                    </div>
                </div>
                
                <!-- Skippables -->
                <div ng-switch-when="accountID"></div>
                <div ng-switch-when="img"></div>
                
                <div ng-switch-default>
                    <div class="towerDetails"> {{ x | capitalize }}: {{ y }} <span ng-hide="token.accountID != tower.accountID" ng-click="editBar(x)">&#9998;</span>
                        <div class="slideEdit" ng-hide="token.accountID != tower.accountID || slideEditBar != '{{ x }}'">
                            <input ng-model="value" type="text"><btn ng-click="tower[x] = value" class="w3-btn">Submit</btn><btn class="w3-btn">Cancel</btn>
                        </div>
                    </div>
                </div><br>
                
            </div>
        </div>
        <!-- Contains details about tower -->
        <!--
        <div id="towerName"> {{ tower.name }} </div><br>
        <div class="towerdetails"> {{ tower.address }} </div><br>
        <div class="towerdetails"> {{ tower.motto }} </div><br>
        <div class="towerdetails"> {{ tower.about }} </div>
        -->
    </div>
    
    <div ng-repeat="section in tileSection">
        <div class="sectionContainer">
            <!-- Contains tile group and detail bubble -->
            <div class="w3-container tileGroup">
                <!-- w3-container -->
                <div ng-switch="section">
                    <h3 class="title">{{section}}:</h3>
                    <div class="tileContainer">
                        
                        <div ng-switch-when="Company" ng-repeat="item in companies">
                            <div ng-click="companyDisplayButton(item)" ng-show="item.name != ''" ng-selected="item === selectedCompany" class="{{ section | lowercase }}Tile displayTile">
                                <h3>{{ item.name }}</h3>
                                <h4>{{ item.suite }} </h4>
                            </div>
                        </div>
                        
                        <div ng-switch-when="Event" ng-repeat="item in activities | filterByCompany:selectedCompany">
                            <div ng-click="eventDisplayButton(item)" ng-show="item.name != ''" ng-selected="item === selectedEvent" class="{{ section | lowercase }}Tile displayTile">
                                <h3>{{ item.name }} </h3>
                                <h4>Host: {{ item.company }} </h4>
                                <h4>Locale: {{ item.tower }} </h4>
                            </div>
                        </div>
                        
                        <div ng-switch-when="Employee" ng-repeat="item in employees | filterByCompany:selectedCompany">
                            <div ng-click="employeeDisplayButton(item)" ng-show="item.name != ''" ng-selected="item === selectedEmployee" class="{{ section | lowercase }}Tile displayTile">
                                <h3>{{ item.name }} </h3>
                                <h4>{{ item.title }} </h4>
                                <h4>{{ item.company }} </h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="w3-container detailBubble">
                <!-- w3-container -->
                <div ng-show="selected{{section}} != null" class="bubble">
                    <div ng-switch="section">
                        
                        <div ng-switch-when="Company">
                            <h2> {{ selectedCompany.name }} </h2>
                            <h3> {{ selectedCompany.tower }} </h3>
                            <h3> {{ selectedCompany.suite }} </h3>
                            <a href="#!/company">Go to Company</a>
                        </div>
                        
                        <div ng-switch-when="Event">
                            <h1> {{ selectedEvent.name }} </h1>
                            <h3> {{ selectedEvent.company }} </h3>
                            <h3> {{ selectedEvent.tower }} </h3>
                            <h3> {{ selectedEvent.detail }} </h3>
                            <a href="#!/company">Go to Event</a>
                        </div>
                        
                        <div ng-switch-when="Employee">
                            <h1> {{ selectedEmployee.name }} </h1>
                            <h3> {{ selectedEmployee.title }} </h3>
                            <h3> {{ selectedEmployee.company }} </h3>
                            <div>Special comment about employee</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- End of Directory Controller -->